{%extends 'core/base.html'%}
{%block body_block%}
    

    <div class="article-list">
        <div class="container">
            <div class="intro">
                <h2 class="text-center">About Us</h2>
                <p class="text-center">We are students of Veermata Jijabai Technological Institute, Matunga(VJTI Mumbai) are building this website to enable readers find what they love to read in an efficient and economic way.</p>
            </div>
            <div class="row articles"><div class="col-sm-6 col-md-4 item"><a href="#"><img class="img-fluid rounded-circle" src="assets/img/desk.jpg" /></a>
    <h3 class="name">Yukta Sarode</h3>
    <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus est, interdum justo suscipit id.</p><a class="action" href="#"><i class="fa fa-arrow-circle-right"></i></a></div><div class="col-sm-6 col-md-4 item"><a href="#"><img class="img-fluid rounded-circle" src="assets/img/building.jpg" /></a>
    <h3 class="name">Priyanshi Gupta</h3>
    <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus est, interdum justo suscipit id.</p><a class="action" href="#"><i class="fa fa-arrow-circle-right"></i></a></div><div class="col-sm-6 col-md-4 item"><a href="https://www.linkedin.com/in/unnati-nandrekar-038b0b190/"><img class="img-fluid rounded-circle" src="assets/img/loft.jpg" /></a>
    <h3 class="name">Unnati Nandrekar</h3>
    <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus est, interdum justo suscipit id.</p><a class="action" href="https://www.linkedin.com/in/unnati-nandrekar-038b0b190/"><i class="fa fa-arrow-circle-right"></i></a></div></div>
        </div>
    </div>
    
    {%endblock%}