{%extends 'core/base.html'%}
{%block body_block%}

{#    <table>#}
{#    {{ institute }}#}
{#    </table>#}


{#    ================================================================================#}

{#    {% for i in institute %}#}
{#        <p>{{ i.1 }}</p>#}
{#    {% endfor %}#}


    <div>
        <br>
        <br>
    </div>

    <div style="text-align: center;">
        <h2>Requests for Donations</h2>
    </div>

    <div>
        <br>
        <br>
    </div>

    <div class="container">

        {% if institute %}
            <table class="table table-bordered">
              <thead>
                <th>Institute Name</th>
                <th>Institue Contact</th>
                <th>Email ID</th>
                <th>Address</th>
                <th>Required Book</th>
                <th>Requirement Date</th>

              </thead>
              {% for disp in institute %}
              <tr>
                <td>{{ disp.0 }}</td>
                <td>{{ disp.2}}</td>
                <td>{{ disp.1}}</td>
                <td>{{ disp.3 }}</td>
                <td>{{ disp.4}}</td>
                <td>{{ disp.5 }}</td>

              </tr>

              {% endfor %}
            </table>
        {% else %}
            <p> No request Found</p>
        {% endif %}
    </div>









{%endblock%}