<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.5.1/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.5.1/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://rawcdn.githack.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css"/>
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_baa67d067160486ba79f6392d9718bfa {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_baa67d067160486ba79f6392d9718bfa" ></div>
        
</body>
<script>    
    
            var map_baa67d067160486ba79f6392d9718bfa = L.map(
                "map_baa67d067160486ba79f6392d9718bfa",
                {
                    center: [19.2605692, 72.8502362],
                    crs: L.CRS.EPSG3857,
                    zoom: 12,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_691a04a0fa154ece9577da35b02c51fb = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_baa67d067160486ba79f6392d9718bfa);
        
    
            var marker_95f11c865a0248c68bf08ce97d72c97e = L.marker(
                [19.2605692, 72.8502362],
                {}
            ).addTo(map_baa67d067160486ba79f6392d9718bfa);
        
    
            var icon_2280d1abb61240d7b9e48dc43ef175a1 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_95f11c865a0248c68bf08ce97d72c97e.setIcon(icon_2280d1abb61240d7b9e48dc43ef175a1);
        
    
        var popup_e3b1fdcdf5f84ac7b23737703faaded6 = L.popup({"maxWidth": "100%"});

        
            var html_7fb4097fdf97499ebf6c2c51507dea57 = $(`<div id="html_7fb4097fdf97499ebf6c2c51507dea57" style="width: 100.0%; height: 100.0%;"></div>`)[0];
            popup_e3b1fdcdf5f84ac7b23737703faaded6.setContent(html_7fb4097fdf97499ebf6c2c51507dea57);
        

        marker_95f11c865a0248c68bf08ce97d72c97e.bindPopup(popup_e3b1fdcdf5f84ac7b23737703faaded6)
        ;

        
    
    
            marker_95f11c865a0248c68bf08ce97d72c97e.bindTooltip(
                `<div>
                     Your Location!
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_c80c382ea7034e18a3318fda83d1c9f3 = L.marker(
                [19.261878, 72.860348],
                {}
            ).addTo(map_baa67d067160486ba79f6392d9718bfa);
        
    
        var popup_84dacabbe3aa4d5e99d352233c84109f = L.popup({"maxWidth": "100%"});

        
            var html_ba4b7fdefbee45fc96a4ae82f4e241c7 = $(`<div id="html_ba4b7fdefbee45fc96a4ae82f4e241c7" style="width: 100.0%; height: 100.0%;"><a href="https://www.google.com/maps/dir/?api=1&destination=Book+Door+Steps+Flat+No.+31,+A+Wing,+Garuda+Building,+Mira+Road,+Sristi+Sector+1,+Mumbai+401104">GetDirection</a></div>`)[0];
            popup_84dacabbe3aa4d5e99d352233c84109f.setContent(html_ba4b7fdefbee45fc96a4ae82f4e241c7);
        

        marker_c80c382ea7034e18a3318fda83d1c9f3.bindPopup(popup_84dacabbe3aa4d5e99d352233c84109f)
        ;

        
    
    
            marker_c80c382ea7034e18a3318fda83d1c9f3.bindTooltip(
                `<div>
                     Name:Book Door Steps
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_b774dc17832c487ba91addb93ece6438 = L.marker(
                [19.2561845, 72.8633633],
                {}
            ).addTo(map_baa67d067160486ba79f6392d9718bfa);
        
    
        var popup_2409e419ed0e4b16b3c813858526dd60 = L.popup({"maxWidth": "100%"});

        
            var html_abdf90a7146d44eca5b172b4f15d9fd1 = $(`<div id="html_abdf90a7146d44eca5b172b4f15d9fd1" style="width: 100.0%; height: 100.0%;"><a href="https://www.google.com/maps/dir/?api=1&destination=Child+Rights+and+You+189/A+Anand+Estate,+Sane+Guruji+Marg,+Mumbai,+Maharashtra+400011">GetDirection</a></div>`)[0];
            popup_2409e419ed0e4b16b3c813858526dd60.setContent(html_abdf90a7146d44eca5b172b4f15d9fd1);
        

        marker_b774dc17832c487ba91addb93ece6438.bindPopup(popup_2409e419ed0e4b16b3c813858526dd60)
        ;

        
    
    
            marker_b774dc17832c487ba91addb93ece6438.bindTooltip(
                `<div>
                     Name:Child Rights and You
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_e29f791d368a40028c92dd2b6182c093 = L.marker(
                [19.2561845, 72.8633633],
                {}
            ).addTo(map_baa67d067160486ba79f6392d9718bfa);
        
    
        var popup_5303842d65ed440c9344bcc95fdbce9f = L.popup({"maxWidth": "100%"});

        
            var html_80bda5268d1a4c42a96d651caa9080fd = $(`<div id="html_80bda5268d1a4c42a96d651caa9080fd" style="width: 100.0%; height: 100.0%;"><a href="https://www.google.com/maps/dir/?api=1&destination=Happy+To+Help+NGO++Navtara+,+Alex+Parera+Soceity+,Bandi+Bazaar,+Nair+Wadi,+Asalpha,+Mohili+Village+,+Sakinaka+,+Pipeline,+Mumbai,+Maharashtra+400072">GetDirection</a></div>`)[0];
            popup_5303842d65ed440c9344bcc95fdbce9f.setContent(html_80bda5268d1a4c42a96d651caa9080fd);
        

        marker_e29f791d368a40028c92dd2b6182c093.bindPopup(popup_5303842d65ed440c9344bcc95fdbce9f)
        ;

        
    
    
            marker_e29f791d368a40028c92dd2b6182c093.bindTooltip(
                `<div>
                     Name:Happy To Help NGO
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_9d06394fc36d44da9fd758498f3444a4 = L.marker(
                [19.2701239, 72.8803346],
                {}
            ).addTo(map_baa67d067160486ba79f6392d9718bfa);
        
    
        var popup_e81dcdaf98aa4e59b8f6c9ae54de5eeb = L.popup({"maxWidth": "100%"});

        
            var html_40ab17f9ded5446d9688fa7aa3ae4409 = $(`<div id="html_40ab17f9ded5446d9688fa7aa3ae4409" style="width: 100.0%; height: 100.0%;"><a href="https://www.google.com/maps/dir/?api=1&destination=Goonj+2nd+floor,+M/s+Mukund+Synthetic+Industries,+R.+R+Industrial+Estate,+W.E.+Highway+Road,+Kashimira,+Mira+Road,+Maharashtra+401104">GetDirection</a></div>`)[0];
            popup_e81dcdaf98aa4e59b8f6c9ae54de5eeb.setContent(html_40ab17f9ded5446d9688fa7aa3ae4409);
        

        marker_9d06394fc36d44da9fd758498f3444a4.bindPopup(popup_e81dcdaf98aa4e59b8f6c9ae54de5eeb)
        ;

        
    
    
            marker_9d06394fc36d44da9fd758498f3444a4.bindTooltip(
                `<div>
                     Name:Goonj
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_c702e4a96cf44e4396f0a6ed0274979c = L.marker(
                [19.229, 72.8419],
                {}
            ).addTo(map_baa67d067160486ba79f6392d9718bfa);
        
    
        var popup_b84feaa2256e4ce1a93ffe6c6bd90587 = L.popup({"maxWidth": "100%"});

        
            var html_08527d9c8e8049d0a1a68afa2c2596ca = $(`<div id="html_08527d9c8e8049d0a1a68afa2c2596ca" style="width: 100.0%; height: 100.0%;"><a href="https://www.google.com/maps/dir/?api=1&destination=Don+Bosco+High+School+Vazira+Naka,+LT+Road,+Borivali+West,+Mumbai,+Maharashtra+400091">GetDirection</a></div>`)[0];
            popup_b84feaa2256e4ce1a93ffe6c6bd90587.setContent(html_08527d9c8e8049d0a1a68afa2c2596ca);
        

        marker_c702e4a96cf44e4396f0a6ed0274979c.bindPopup(popup_b84feaa2256e4ce1a93ffe6c6bd90587)
        ;

        
    
    
            marker_c702e4a96cf44e4396f0a6ed0274979c.bindTooltip(
                `<div>
                     Name:Don Bosco High School
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_06f855a836b946c989d950ce9da251e6 = L.marker(
                [19.2279, 72.8235],
                {}
            ).addTo(map_baa67d067160486ba79f6392d9718bfa);
        
    
        var popup_27cf72dbb29f40f685f20d8445fa99ad = L.popup({"maxWidth": "100%"});

        
            var html_bb79ab7b16e74cf88fcfd7d6aa607dbc = $(`<div id="html_bb79ab7b16e74cf88fcfd7d6aa607dbc" style="width: 100.0%; height: 100.0%;"><a href="https://www.google.com/maps/dir/?api=1&destination=Abhilasha+Foundation+NGO+Laxmi+Chhaya+Bungalow,+RSC+11,+Gorai+2,+Borivali+West,+400091">GetDirection</a></div>`)[0];
            popup_27cf72dbb29f40f685f20d8445fa99ad.setContent(html_bb79ab7b16e74cf88fcfd7d6aa607dbc);
        

        marker_06f855a836b946c989d950ce9da251e6.bindPopup(popup_27cf72dbb29f40f685f20d8445fa99ad)
        ;

        
    
    
            marker_06f855a836b946c989d950ce9da251e6.bindTooltip(
                `<div>
                     Name:Abhilasha Foundation NGO
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_a011f21e907d4823a98e0dd190b7f905 = L.marker(
                [19.180874, 72.857452],
                {}
            ).addTo(map_baa67d067160486ba79f6392d9718bfa);
        
    
        var popup_4116ce4e306a4d8b9afa04560641d0a1 = L.popup({"maxWidth": "100%"});

        
            var html_50c7c9f6a3f34b7794ea5206dfeb0799 = $(`<div id="html_50c7c9f6a3f34b7794ea5206dfeb0799" style="width: 100.0%; height: 100.0%;"><a href="https://www.google.com/maps/dir/?api=1&destination=Shishu+Welfare+Trust+Of+India+A-202,+2nd+Floor,+Shivam+2,+Raheja+C,+Malad+E,+400097">GetDirection</a></div>`)[0];
            popup_4116ce4e306a4d8b9afa04560641d0a1.setContent(html_50c7c9f6a3f34b7794ea5206dfeb0799);
        

        marker_a011f21e907d4823a98e0dd190b7f905.bindPopup(popup_4116ce4e306a4d8b9afa04560641d0a1)
        ;

        
    
    
            marker_a011f21e907d4823a98e0dd190b7f905.bindTooltip(
                `<div>
                     Name:Shishu Welfare Trust Of India
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_0cac839b37cf4adcb4e8c8e5821c2f2d = L.marker(
                [19.179974, 72.8220186],
                {}
            ).addTo(map_baa67d067160486ba79f6392d9718bfa);
        
    
        var popup_a6ff4f35126144bf85b8f75751c0c16a = L.popup({"maxWidth": "100%"});

        
            var html_731e2955a66242f89bda84a10a8e435c = $(`<div id="html_731e2955a66242f89bda84a10a8e435c" style="width: 100.0%; height: 100.0%;"><a href="https://www.google.com/maps/dir/?api=1&destination=Book+Share+India+M.+L.+Dahanukar+College,+Dixit+Road,+Vile+Parle+East,Mumbai+400057">GetDirection</a></div>`)[0];
            popup_a6ff4f35126144bf85b8f75751c0c16a.setContent(html_731e2955a66242f89bda84a10a8e435c);
        

        marker_0cac839b37cf4adcb4e8c8e5821c2f2d.bindPopup(popup_a6ff4f35126144bf85b8f75751c0c16a)
        ;

        
    
    
            marker_0cac839b37cf4adcb4e8c8e5821c2f2d.bindTooltip(
                `<div>
                     Name:Book Share India
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_52f438904e5e4a17b544d9942d2d74c7 = L.marker(
                [19.1692, 72.8783],
                {}
            ).addTo(map_baa67d067160486ba79f6392d9718bfa);
        
    
        var popup_33debe3c39d0453aabe15298f0930e0a = L.popup({"maxWidth": "100%"});

        
            var html_ca98f65681494d38a6bd29b1bc0a26cf = $(`<div id="html_ca98f65681494d38a6bd29b1bc0a26cf" style="width: 100.0%; height: 100.0%;"><a href="https://www.google.com/maps/dir/?api=1&destination=Pranav+Vidya+Mandir+High+School+BMC+COLONY+M+Ward,+Sector+m,+Municipal+Colony,+Goregaon,+400065">GetDirection</a></div>`)[0];
            popup_33debe3c39d0453aabe15298f0930e0a.setContent(html_ca98f65681494d38a6bd29b1bc0a26cf);
        

        marker_52f438904e5e4a17b544d9942d2d74c7.bindPopup(popup_33debe3c39d0453aabe15298f0930e0a)
        ;

        
    
    
            marker_52f438904e5e4a17b544d9942d2d74c7.bindTooltip(
                `<div>
                     Name:Pranav Vidya Mandir High School
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_541cbd9a27764f8fbe4c90f6e53d2b70 = L.marker(
                [19.1646, 72.853],
                {}
            ).addTo(map_baa67d067160486ba79f6392d9718bfa);
        
    
        var popup_fa52767047ca4b61b5f0e026a3bb3ac4 = L.popup({"maxWidth": "100%"});

        
            var html_0c221c764e5c4f16a1c674a8179d5c18 = $(`<div id="html_0c221c764e5c4f16a1c674a8179d5c18" style="width: 100.0%; height: 100.0%;"><a href="https://www.google.com/maps/dir/?api=1&destination=Balak+Vrinda+Education+Society+High+School+Slater+Rd,+Shreyas+Colony,+Jay+Prakash+Nagar,+Goregaon,++400063">GetDirection</a></div>`)[0];
            popup_fa52767047ca4b61b5f0e026a3bb3ac4.setContent(html_0c221c764e5c4f16a1c674a8179d5c18);
        

        marker_541cbd9a27764f8fbe4c90f6e53d2b70.bindPopup(popup_fa52767047ca4b61b5f0e026a3bb3ac4)
        ;

        
    
    
            marker_541cbd9a27764f8fbe4c90f6e53d2b70.bindTooltip(
                `<div>
                     Name:Balak Vrinda Education Society High School
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_4d5eaa8052f74e6093c2c6a7da1ecfda = L.marker(
                [19.1611, 72.8874],
                {}
            ).addTo(map_baa67d067160486ba79f6392d9718bfa);
        
    
        var popup_e1cc2df6b4fe443aa07ca4604c52ecab = L.popup({"maxWidth": "100%"});

        
            var html_b1d354f7f6d04aa0b4829081c62bd90e = $(`<div id="html_b1d354f7f6d04aa0b4829081c62bd90e" style="width: 100.0%; height: 100.0%;"><a href="https://www.google.com/maps/dir/?api=1&destination=Balvikas+Shishu+Bhavan+102,+Film+City+Road,+Off,+General+Arun+Kumar+Vaidya+Marg,+Malad+East,400097">GetDirection</a></div>`)[0];
            popup_e1cc2df6b4fe443aa07ca4604c52ecab.setContent(html_b1d354f7f6d04aa0b4829081c62bd90e);
        

        marker_4d5eaa8052f74e6093c2c6a7da1ecfda.bindPopup(popup_e1cc2df6b4fe443aa07ca4604c52ecab)
        ;

        
    
    
            marker_4d5eaa8052f74e6093c2c6a7da1ecfda.bindTooltip(
                `<div>
                     Name:Balvikas Shishu Bhavan
                 </div>`,
                {"sticky": true}
            );
        
</script>