{% extends 'core/base.html' %}
{% block body_block %}

<div class="container">
  <br>


  <h1>Find nearest NGOs and Educational Institutions for donating books!</h1>
  <button style="margin-left:10px" onclick="getlocation()">Click me to get your location</button>
  <br>
  <div class="container pt-4">
    <form method="post">
      {% csrf_token %}
      <div class="form-group">
        <label for="book">Latitude</label>
        <input type="text" class="form-control col-6" id="lat" name="lat" aria-describedby="emailHelp">

      </div>

      <div class="form-group">
        <label for="book">Longitude</label>
        <input type="text" class="form-control col-6" id="long" name="long" aria-describedby="emailHelp">
      </div>

      <div class="form-group">
        <label for="book">Select a Distance Range</label>

        <select name="dist">
          <option value="lt5">less than 5 km</option>
          <option value="lt10">less than 10 km</option>
          <option value="lt15">less than 15 km</option>
        </select>
      </div>

      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>


  <div class="container">
    {% if details %}
    <!-- AMAZON DETAILS DISPLAY-->

    <h4 style="display:inline-block; margin-right:20px">Your Results! </h4> <a href="{% url 'schools:map_near_school' %}">View Results on map</a>
    {% if near %}
    <table class="table table-bordered">
      <thead>
        <th>Name</th>
        <th>Address</th>
        <th>Distance</th>
        <th></th>

      </thead>

      {% for disp,it in zi %}
      <tr>
        <td>{{ disp.name }}</td>
        <td>{{ disp.address }}</td>
        <td>{{ disp.distance|stringformat:".6s" }} km</td>
        <td>
<a href="{{ it }}">Get Directions</a>


        </td>
      </tr>

      {% endfor %}
    </table>

    {% else %}
    <p>No results found! Try a greater distance range</p>

    {% endif %}

    {% endif %}

  </div>


</div>




<script>
  var x = document.getElementById("lat");
  var y = document.getElementById("long");

  function getlocation() {
    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(showPosition)
    } else {
      alert("Sorry! your browser is not supporting")
    }
  }

  function showPosition(position) {
    var x = position.coords.latitude;
    var y = position.coords.longitude;

    x=x+0.13



    document.getElementById("lat").value = x;
    document.getElementById("long").value = y;
  }
</script>


{%endblock%}
